.about{
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 5rem;
  padding-right: 8rem;
    padding-left: 2rem;

  overflow: hidden;

}
.about-h1{
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
   text-align: left;
  padding-top: 5%;
  font-size: 5rem;
}

.about-h1{
  padding: rem;

}
.text-span{
  padding-left: 10%;
}
.animate-text{
    padding-left: 8rem;


}