.about {
  width: 80%;
  padding-left: 20%;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Title */
.about-h1 {
  font-family: "Bodoni Moda SC", serif;
  font-weight: 900;
  text-align: center;
  padding-top: 5%;
  font-size: 2rem;
  color: #f3f3f3;
  width: 100%;
}

/* Animated text */
.animate-text {
  padding-top: 10%;
  text-align: center;
  line-height: 1.5;
  word-break: normal;
  overflow-wrap: break-word;
  color: #f3f3f3;
  width: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  .about {
    width: 100%;
    font-size: 1rem;
      padding-left: 2%;
      padding-right: 2%;

  }

  .about-h1 {
    font-size: 1.6rem;
    padding-top: 0;
  }

  .animate-text {
    padding-top: 2rem;
    line-height: 1.6;
  }
}