.about {
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 5rem 8rem 0 2rem;
  overflow: hidden;
}

.about-h1 {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  padding-top: 5%;
  font-size: 2rem;
}

.text-span {
  padding-left: 10%;
}

.animate-text {
  padding-top: 10%;
  padding-left: 8rem;
  
}

@media (max-width: 768px) {
  .about {
    padding: 3rem 2rem;
    height: 100vh;
      font-size: 1rem;

  }

  .about-h1 {
    padding-top: 0;
    font-size: 1.6rem;
  }

  .animate-text {
    padding-left: 0;
    padding-top: 8rem;
  }

  .text-span {
    padding-left: 0;
  }
}
