/* Skills Section Styles */
.skills-section {
  max-width: 80%;
  margin: 0 auto;
  padding: 100px 20px;
 
}

.skills-header {
  text-align: center;
  margin-bottom: 20px;
}

.skills-header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Playfair Display', Georgia, serif;
  color: #f3f3f3;
}

.skills-header .subtitle {
  font-size: 0.5rem;
  letter-spacing: 2px;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 300;
  color: #f3f3f3;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  margin-top: 60px;
}

.skill-card {
  position: relative;
  padding: 6px 2px;
  border: 1px solid #000000;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
}

.skill-card:hover {
  transform: translateY(-8px);
  border-color: #f3f3f3;
}

.skill-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #f3f3f3;
}

.skill-name {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #f3f3f3;
}




.skill-card:hover .skill-progress {
  background: linear-gradient(90deg, #f3f3f3 0%, #f3f3f3 100%);
}

@media (max-width: 768px) {
 .skills-section {
  max-width: 100%;
  margin: 0 auto;
  padding: 400px 20px;
 
}


  .skills-header h1 {
    font-size: 2.5rem;
  }

  .skills-header .subtitle {
    font-size: 0.5rem;
    padding: 0 10px;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  }
}

.touch{ 
  position: absolute;
  top: 130vh; 
  width: 100%; 
  height: auto;
}