
.connect-us-container {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  padding: 5rem 3rem;
  padding-left: 12rem; /* space for marquee */
  overflow: hidden;
}

.card-marquee{
  width: 100%;
  position: absolute;
right: 45%;
  transform:rotate(90deg);
  overflow: hidden;
}
.marquee {
  display: flex;
}
.marquee h1{
  white-space: nowrap;
  color: #000;

  font-size: 10vw;
  font-weight: 600;
  margin-right: 30px;
}

@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.marquee-text {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  padding: 40px 0;
  white-space: nowrap;
}

/* ===== CONTENT SECTION ===== */
.content-section {
 position: absolute;
top: 30%;  
left: 20%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  max-width: 1400px;
  margin: auto;
}

.description h2 {
   padding-bottom: 30px;
  font-size: 2rem;
  color: #000;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase; 
    text-align: left;

}

.description p {
  font-size: 16px;
  color: #000;

  margin-bottom: 40px;
}

.contact-info {
 
   margin-bottom: 2rem;
  font-size: 1.1rem;
    text-align: left;

}

.info-item h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.info-item p {
  font-size: 16px;
  color: #000;

}
.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 16px;
  border: 1px solid #000;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  background: #fff;
}

.contact-form textarea {
  resize: vertical;
}

.submit-btn {
  width: fit-content;
  padding: 12px 24px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1rem;
  transition: 0.3s ease;
}

.submit-btn:hover {
  opacity: 0.8;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .content-section {
    grid-template-columns: 1fr;
  }
  .connect-us-container {
    padding-left: 60px;
  }
  .marquee-text {
    font-size: 30px;
  }
}
