.hero{
  background-color:#dfddda;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
h1{
  text-transform: uppercase;
  font-size:8rem ;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  line-height: 1;
}
.preholder{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
}
.hero-title h1 {
  overflow: hidden;       /* makes letters reveal properly */
  display: inline-block;
}

.char {
  display: inline-block;
  transform: translateY(100%); /* hidden position */
}

.hero-title{
  position: absolute;
  top: 30%;
  left: 1.6%;
  text-align: left;
}
.hero-description p{
  position: absolute;
  top: 75%;
  left: 12%;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 500;
  line-height: 1.5;

}
.title-span{
  display: inline-block;
  padding-left: 10%;

}