 .hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-h1 {
  text-transform: uppercase;
  font-size: 8rem;
  font-family: "Bodoni Moda SC", serif;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.preloader {
  inset: 0;
  overflow: hidden;
  background: #fff;
}

.hero img {
  width: 120px;
  position: absolute;
  left: 40%;
  bottom: 30%;
  object-fit: contain;
}

.hero-title {
  position: absolute;
  top: 30%;
  left: 5%;
  text-align: left;
}

.hero-title h1 {
  overflow: hidden;
  display: inline-block;
}

.char {
  display: inline-block;
  transform: translateY(100%);
}
.scroll-text{
  position: absolute;
  top: 90%;
  left: 85%;
   text-transform: uppercase;
  font-size: 1rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.hero-description {
  position: absolute;
  top: 75%;
  left: 12%;
}

.hero-description p {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

.title-span {
  display: inline-block;
  padding-left: 10%;
}

@media (max-width: 768px) {
  .hero-h1 {
    font-size: 5rem;
  }
  .hero-description {
    top: 60%;
    left: 10%;
  }
  .hero img {
    width: 80px;
    left: 35%;
    bottom: 20%;
  }
}