@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #cdc6be;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  color: #cdc6be;
  mix-blend-mode: difference;
  z-index: 999;
}

nav > div {
  flex: 1;
}

.logo p {
  text-align: center;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.logo a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #cdc6be;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
}

.burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  background: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background: #cdc6be;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger::before {
  transform: translateY(-3px);
}

.burger::after {
  transform: translateY(3px);
}

nav.active .burger::before {
  transform: translateY(0) rotate(45deg);
}

nav.active .burger::after {
  transform: translateY(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background: #141412;
  z-index: 99;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
    background: #141412;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.menu-item {
  display: flex;
  cursor: pointer;
}

.menu-item p {
  position: relative;
  text-align: center;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 8vw;
  line-height: 80%;
  will-change: transform;
  transition: letter-spacing 0.3s;
  color: #cdc6be;
}

.menu-item p:hover {
  letter-spacing: 0.075em;
}

.sub-nav {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5em;
}

.sub-nav p {
  font-family: "Bodoni Moda SC", serif;
  font-size: 20px;
  color: #cdc6be;
  font-weight: 500;
}

.sub-nav a {
  color: #cdc6be;
  transition: letter-spacing 0.3s;
}

.sub-nav a:hover {
  letter-spacing: 0.075em;
}
.hero-comp{
  background-color: #F8F9FA;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 780px) {
  .menu-item p {
    font-size: 10vw;
  }
}