img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container{
  width: 100%;
  height: 50vh;
}
.project-title{

 font-size: 48vw;
  font-family: "Bodoni Moda SC", serif;
  font-weight: 600;
  color: #000;
  margin: 0;

  white-space: nowrap;
  line-height: 1;
}

.wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  overflow: hidden;
}


.scroll-track {
  width: 220vw; 
    top: 200%;
  height: 100%;
}

.outro{
  position: absolute;
  top: 400vh;
  width: 100%;
  height: 100vh;
}
