img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container{
  width: 100%;
  height: 50vh;
}
.project-title{
    width: 450vw;
  
  height: 100vh;
  color: #000;
  font-size: 48vw;
  font-family: "Bodoni Moda SC", serif;
  font-weight: 600;
  margin: 0;
}

.wrapper{
  position: absolute;
  top: 180%;
  width: 100vw;
  height: 100vh;
  will-change: transform;
}



.outro{
  position: absolute;
  top: 400vh;
  width: 100%;
  height: 100vh;
}
