.projects-section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.work-header {
  text-align: center;
  margin-bottom: 30px;
}

.work-title{
  font-size: 3.5rem ;
  text-transform: uppercase;
  margin: 0;
}



.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.project-card {
  display: flex;
  gap: 20px;
  border-top: 2px solid black;
   border-bottom: 2px solid black;
  padding: 20px;
  transition: transform 0.2s ease;
}

.project-image-wrap {
  flex: 0 0 40%;
}

.project-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-right: 2px solid black;
}

.project-content {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-container{

   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-description {
  padding-left: 20%;
    
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.529);

}

.tech-stack {
  display: flex;
    font-family:'Times New Roman', Times, serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.529);
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 12px;
  margin-left: 20px;
}

.tech-tag {
  text-decoration: underline;
  padding: 2px 8px;
  font-size: 12px;
}

.live-link {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
    text-align: center;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  background: rgba(0,0,0,0.6);
  color: white;
  opacity: 0;
  text-decoration: none;
  font-size: 18px;
  transition: opacity 0.3s;
}

/* Show on hover */
.project-card:hover .live-link {
  opacity: 1;
}


.arrow {
  display: inline-block;
  margin-left: 4px;
}
.work{
  position: absolute;
  top: 100vh;
  width: 100%;
  height: auto;
}
.touch{ 
  position: absolute;
  top: 100vh; 
  width: 100%; 
  height: auto;
}
/* Responsive */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }

  .project-image-wrap {
    width: 100%;
  }

  .project-image {
    border-right: none;
    border-bottom: 2px solid black;
  }
}
