
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
}


#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}