#root {
 
  ---background-color:#FFFFFF ;
  ---color-header:#1f1235 ;
  ---color-text:#1b1425;
  ---color-secondary:#ff6e6c ;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background: #FFF1F1;
      cursor: none;


}

